<div class="modal-overlay" (click)="closeModal()"></div>
<div class="modal-container">
  <h2 class="modal-title">CRIAR PRODUTO</h2>

  <div class="alerts-container">
    <app-alerts
      [alerts]="alerts"
      (alertClosed)="removeAlert($event)"
    ></app-alerts>
  </div>

  <form [formGroup]="createProductForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <!-- Campo Nome -->
      <label for="name">NOME</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Digite o nome do produto"
      />
      <div
        *ngIf="
          createProductForm.get('name')?.invalid &&
          createProductForm.get('name')?.touched
        "
      >
        <small class="error">Nome é obrigatório</small>
      </div>

      <label for="type">TIPO</label>
      <select id="type" formControlName="type">
        <option value="" disabled>Escolha o tipo</option>
        <option *ngFor="let type of typeLabels | keyvalue" [value]="type.key">
          {{ type.value }}
        </option>
      </select>
      <div
        *ngIf="
          createProductForm.get('type')?.invalid &&
          createProductForm.get('type')?.touched
        "
      >
        <small class="error">Tipo é obrigatório</small>
      </div>

      <!-- Campo Quantidade -->
      <label for="quantity"
        >QUANTIDADE
        <span
          class="info-icon"
          title="Valor do produto que tem neste momento em stock."
        >
          <img src="information.png" alt="Informação" />
        </span>
      </label>
      <input
        id="quantity"
        type="number"
        formControlName="quantity"
        placeholder="Digite a quantidade"
        step="0.01"
      />
      <div
        *ngIf="
          createProductForm.get('quantity')?.invalid &&
          createProductForm.get('quantity')?.touched
        "
        class="invalid-feedback"
      >
        <span *ngIf="createProductForm.get('quantity')?.errors?.['required']"
          >Quantidade é obrigatória.</span
        >
        <span *ngIf="createProductForm.get('quantity')?.errors?.['min']"
          >Quantidade não pode ser negativa.</span
        >
      </div>

      <!-- Campo Ponto de Encomenda e Valor Ideal -->
      <div class="row-fields">
        <div class="field-group">
          <label for="order-point">
            PONTO DE ENCOMENDA
            <span
              class="info-icon"
              title="Quantidade mínima de um produto no stock que, ao ser atingida, 
            indica que é hora de fazer adicionar à lista de compras e evitar falta de mercadoria."
            >
              <img src="information.png" alt="Informação" />
            </span>
          </label>
          <input
            id="order-point"
            type="number"
            formControlName="order_Point"
            placeholder="Digite o ponto de encomenda"
            step="0.01"
          />
          <div
            *ngIf="
              createProductForm.get('order_Point')?.invalid &&
              createProductForm.get('order_Point')?.touched
            "
          >
            <small class="error"
              >Ponto de encomenda é obrigatório e deve ser maior que 0</small
            >
          </div>
        </div>

        <div class="field-group">
          <label for="ideal">
            VALOR IDEAL
            <span
              class="info-icon"
              title="Quantidade que você deseja manter no stock para evitar excesso e desperdício."
            >
              <img src="information.png" alt="Informação" />
            </span>
          </label>
          <input
            id="ideal"
            type="number"
            formControlName="ideal_Point"
            placeholder="Digite o valor ideal"
            step="0.01"
          />
          <div
            *ngIf="
              createProductForm.get('ideal_Point')?.invalid &&
              createProductForm.get('ideal_Point')?.touched
            "
          >
            <small class="error"
              >Valor ideal é obrigatório e deve ser maior que 0</small
            >
          </div>
        </div>
      </div>

      <!-- Campo Unidade -->
      <label for="unity">UNIDADE</label>
      <select id="unity" formControlName="unity">
        <option value="" disabled>Escolha a unidade</option>
        <option *ngFor="let unity of Unity | keyvalue" [value]="unity.value">
          {{ unity.value }}
        </option>
      </select>
      <div
        *ngIf="
          createProductForm.get('unity')?.invalid &&
          createProductForm.get('unity')?.touched
        "
      >
        <small class="error">Unidade é obrigatória</small>
      </div>
    </div>

    <!-- Botões de Ação -->
    <div class="modal-footer">
      <button
        class="btn-save"
        type="submit"
        [disabled]="createProductForm.invalid"
      >
        GUARDAR
      </button>
      <button class="btn-cancel" type="button" (click)="closeModal()">
        CANCELAR
      </button>
    </div>
  </form>
</div>
