/* Fundo escuro */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
  z-index: 999;
}

/* Container do modal */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #455361;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
  font-family: Arial, sans-serif;
}

/* Título do modal */
.modal-title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
}

/* Corpo do modal */
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-body label {
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
}

.modal-body input {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 2px solid white;
  font-size: 14px;
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s;
  margin-bottom: 10px;
  color: white;
}

.modal-body input:focus,
.modal-body select:focus {
  border-color: #1abc9c;
}

.modal-footer {
  display: flex;
  flex-direction: column; /* Empilha os botões em coluna */
  gap: 10px; /* Espaço entre os botões */
  margin-top: 20px;
}

.modal-footer .btn-save {
  background: none;
  font-family: sans-serif;
  border: none;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
}

.modal-footer .btn-save:hover {
  text-decoration: underline;
}

/* Estilo do botão "Cancelar" */
.modal-footer .btn-cancel {
  color: #cc4d3f;
  background: none;
  font-family: sans-serif;
  border: none;
  font-size: 0.8em;
  cursor: pointer;
  font-weight: bold;
}

.modal-footer .btn-cancel:hover {
  text-decoration: underline;
  color: #c0392b; /* Cor um pouco mais escura quando hover */
}

.row-fields {
  display: flex;
  gap: 20px;
}

.field-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field-group label {
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.field-group input {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 2px solid #e9e8e8;
  font-size: 14px;
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s;
}

/* Foco nos inputs */
.field-group input:focus {
  border-bottom-color: #1abc9c;
}

.info-icon {
  font-size: 18px;
  cursor: pointer;
  margin-left: 5px;
  vertical-align: middle;
}

.info-icon:hover::after {
  content: attr(title);
  position: absolute;
  background-color: #1abc9c;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  display: block;
  width: 460px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

label {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
  display: block;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #2c3e50;
  font-size: 14px;
  outline: none;
  appearance: none;
  transition: border-color 0.3s;
  margin-bottom: 10px;
}

select:focus {
  border-color: #1abc9c;
}

select option[disabled] {
  color: #aaa;
}

input::placeholder {
  color: #bdbbbb;
  opacity: 0.8;
  font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
  .modal-container {
    width: 90%;
  }
}
