<app-alerts [alerts]="alerts" (alertClosed)="removeAlert($event)"></app-alerts>
<div class="product-list-container">
  <h1 class="title">A MINHA LISTA</h1>
  <div class="search-and-add">
    <input
      type="text"
      placeholder="Procurar produto..."
      class="search-bar"
      [(ngModel)]="searchQuery"
    />
    <button class="add-product-button" (click)="openModal()">
      <img src="add-product-icon.png" alt="Adicionar Produto" />
    </button>
  </div>

  <ul
    *ngIf="!loading && getFilteredProducts().length > 0; else noProducts"
    class="products-list"
  >
    <li *ngFor="let product of getFilteredProducts()" class="product-item">
      <div class="product-body">
        <h2 class="product-name">{{ product.name }}</h2>
        <div class="quantity-unit">
          <strong class="product-quantity">{{ product.quantity }}</strong>
          <span class="product-unity">{{ product.unity }}</span>
          <button class="delete" (click)="removeFromList(product)">
            <img src="delete.png" alt="Diminuir Quantidade" width="13" />
          </button>
        </div>
      </div>
    </li>
  </ul>

  <ng-template #noProducts>
    <p *ngIf="!loading">Nenhum produto encontrado para este tipo.</p>
    <p *ngIf="loading">Carregando produtos...</p>
  </ng-template>
  <add-product-modal
    *ngIf="isModalOpen"
    (onAdd)="addProductToList($event)"
    (onClose)="closeModal()"
    [products]="products"
  ></add-product-modal>
</div>
