.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #36414d;
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    max-width: 100%;
    height: 400px;
    border: 1px solid white
  }



  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: none;
    color: white;
    font-family: sans-serif;
    text-align: center;
  }
  

  img{
    background: none;
  }

  label {
    margin-top: 70px;
    display: block;
    color: white;
    font-family: sans-serif;
    background: none;
}

input {
    background: none;
    border: none;
    width: 100%;
    padding: 5px;
    color: white;
    margin-top: 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
}
 
div{
    background: none;
    padding: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-submit {
    background: none;
    font-family: sans-serif;
    border: none;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.close {
  background: none;
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.close:hover {
    color: rgba(255, 255, 255, 0.1);
}


.btn-submit:hover {
    text-decoration: underline;
}

.error-message {
  background: none;
  color: #ed696b;
  font-size: 0.9em;
  font-family: sans-serif;
}


  @media (max-width: 600px) {
    .popup {
      width: 90%;
      padding: 15px;
    }
  }
  
  